@model IEnumerable<Degishop.Models.PC_AND_Laptop>

@{
    ViewData["Title"] = "Search&List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <form asp-action="search" method="get">

        <div class="form-actions no-color">
            <p>
                Brand Name: <input type="text" name="SearchPhrase" value="@ViewData["CurrentSearch"]" />
                <input type="submit" value="Search" class="btn btn-dark"/>
                <a asp-action="Index" class="alert-info">Remove search query</a>
            </p>
        </div>
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.model_name)
            </th>
            <th>
                <a asp-action="Index" asp-route-SortCost="@ViewData["costSortParam"]">
                    @Html.DisplayNameFor(model => model.Cost)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Graphic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brands)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.model_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RAM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Graphic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brands.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
